<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Blueprint -->
    <link rel="stylesheet" href="{{ static_url("css/blueprint/screen.css") }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ static_url("css/blueprint/print.css") }}" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ static_url("css/blueprint/ie.css") }}" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/words.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/quiz.css") }}" type="text/css">

    <title>{% block title %}学习中文{% end %}</title>
  </head>
  <body>
    <!-- Container for Blueprint Grid -->
    <div class="container">

      <!-- Header -->
      <div class="span-24 last" id="header">
        <div class="span-4" id="header"><h1><a href="/">学习中文</a><h1></div>
        <div class="span-20 last">
          <ul id="navlist">
            <li><a href="radicals">radicals</a></li>
            <li><a href="characters">characters</a></li>
            <li><a href="words">words</a></li>
            <li><a href="phrases">phrases</a></li>
            <li><a href="sentences">sentences</a></li>
            <li><a href="passages">passages</a></li>
            <li><a href="documents">documents</a></li>
            <li><a href="quiz">quiz</a></li>
          </ul>
        </div>
      </div>
      <br />

      <!-- Main Content -->
      <div class="span-24 last">
        {% block main_content %}
        {% end %}
      </div>

      <!-- Footer -->
      <div class="span-24 last" id="footer"></div>
    </div> 
  </body>
</html>
