<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Blueprint -->
    <link rel="stylesheet" href="{{ static_url("css/blueprint/screen.css") }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ static_url("css/blueprint/print.css") }}" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ static_url("css/blueprint/ie.css") }}" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="{{ static_url("css/header.css") }}" type="text/css">
  </head>
  <body>
    <!-- Container for Blueprint Grid -->
    <div class="container">

      <!-- Header -->
      <div class="span-24 last" id="header">
        <div class="span-8" id="header"><h1><a href="/">学习中文</a><h1></div>
        <div class="span-16 last">
          <ul id="navlist">
            <li><a href="vocab">vocab</a></li>
            <li><a href="quiz">quiz</a></li>
          </ul>
        </div>
      </div>
      <br />

      <!-- Main Content -->
      <div class="span-24 last">
        <form action="/" method="post">
        <input type="hidden" name="action" value="reset">
        <input type="submit" value="Reset">
      </div>

      <!-- Footer -->
      <div class="span-24 last" id="footer"></div>
    </div> 
  </body>
</html>
