{% extends "base.html" %}

{% block title %}学习中文 | Quizzes{% end %}

{% block main_content %}
        <!-- Start a New Quiz -->
        <form action="/quiz" method="post">
          <fieldset>
            <legend>New Quiz</legend>
            <ul id="new-quiz-create">
              <li>
                <div class="span-4"><label for="tag">Tag</lebl></div>
                <div class="span-20 last"><input type="text" name="tag"></div>
              </li>
              <li>
                <div class="span-4"><label for="front">Front</lebl></div>
                <div class="span-20 last">
                  <ul>
                    </li><input type="radio" name="front" value="hanzi">汉字</li>
                    </li><input type="radio" name="front" value="pinyin">Pinyin</li>
                    </li><input type="radio" name="front" value="english">English</li>
                  </ul>
                </div>
              </li>
            </ul>
            <input type="submit" value="Submit">
          </fieldset>
        </form>

        <!-- Current Quiz -->
        {% if words %}
        <p>Tag: {{ tag }}</p>
        <table>
          <tr>
            <th>Front</th>
            <th>Back</th>
          </tr>
          {% for word in words %}
          <tr>
            <td>{{ word[front.lower()] }}</td>
            <td>{{ str(word) }}</td>
          </tr>
          {% end %}
        </table>
        {% end %}

        <!-- Quiz History -->
        <!-- Not Yet Implemented -->
{% end %}
