{% extends "base.html" %}

{% block title %}学习中文 | Quizzes{% end %}

{% block main_content %}
        <!-- Start a New Quiz -->
        <form action="/quizzes" method="post">
          <fieldset>
            <legend>New Quiz</legend>
            <ul id="new-quiz-create">
              <li>
                <div class="span-4"><label for="tag">Tag</lebl></div>
                <div class="span-20 last"><input type="text" name="tag"></div>
              </li>
              <li>
                <div class="span-4"><label for="front">Front</lebl></div>
                <div class="span-20 last">
                  <ul>
                    </li><input type="radio" name="front" value="hanzi">汉字</li>
                    </li><input type="radio" name="front" value="pinyin">Pinyin</li>
                    </li><input type="radio" name="front" value="english">English</li>
                  </ul>
                </div>
              </li>
            </ul>
            <input type="submit" value="Submit">
          </fieldset>
        </form>

        <!-- Quiz History -->
        <table>
          <tr>
            <th>Tag</th>
            <th>Date Created</th>
            <th>Front</th>
            <th>Number of Words</th>
            <th></th>
          </tr>
          {% for quiz in quizzes %}
          <tr>
            <td>{{ quiz.tag }}</td>
            <td>{{ quiz.time_entered }}</td>
            <td>{{ quiz.front }}</td>
            <td>{{ quiz.num_words }}</td>
            <td><a href="/take_quiz/{{ quiz.quiz_id }}">Take It</a></td>
          </tr>
          {% end %}
        </table>

        <p>Total quizzes: {{ len(quizzes) }}</p>

        <!-- Quizzes Reset -->
        <div class="span-24 last">
          <form action="/quizzes" method="post">
          <input type="hidden" name="action" value="reset">
          <input type="submit" value="Reset">
        </div>
{% end %}
