<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
    <!-- Current Quiz -->
    {% if words %}
    <p>Tag: {{ tag }}</p>
    <table>
      <tr>
        <th>Front</th>
        <th>Back</th>
      </tr>
      {% for word in words %}
      <tr>
        <td>{{ word[front] }}</td>
        <td>{{ str(word) }}</td>
      </tr>
      {% end %}
    </table>
    {% end %}

    <!-- Start a New Quiz -->
    <form action="/quiz" method="post">
      <input type="text" name="tag">
      <input type="text" name="front">
      <input type="submit" value="Submit">
    </form>

    <!-- Quiz History -->
    <!-- Not Yet Implemented -->
  </body>
</html>
