{% extends "base.html" %}

{% block title %}学习中文 | Words{% end %}

{% block main_content %}
        <!-- Add a New Word -->
        <form action="/words" method="post">
          <fieldset>
            <legend>New Word</legend>
            <ul id="new-word-entry">
              <li>
                <div class="span-4"><label for="汉字">汉字</lebl></div>
                <div class="span-20 last"><input type="text" name="汉字"></div>
              </li>
              <li>
                <div class="span-4"><label for="Pinyin">Pinyin</lebl></div>
                <div class="span-20 last"><input type="text" name="Pinyin"></div>
              </li>
              <li>
                <div class="span-4"><label for="English">English</lebl></div>
                <div class="span-20 last"><input type="text" name="English"></div>
              </li>
              <li>
                <div class="span-4"><label for="Tags">Tags</lebl></div>
                <div class="span-20 last"><input type="text" name="Tags"></div>
              </li>
              <li>
                <div class="span-4"><label for="POS">Part of Speech</lebl></div>
                <div class="span-20 last"><input type="text" name="POS"></div>
              </li>
            </ul>
            <input type="submit" value="Submit">
          </fieldset>
        </form>

        <!-- Just Added Word -->
        {% if new_word %}
        <hr />
        <p>Just added: {{ new_word }}</p>
        <hr />
        {% end %}

        <!-- Known Words -->
        <table>
          <tr>
            <th>汉字</th>
            <th>Pinyin</th>
            <th>English</th>
            <th>Tags</th>
            <th>Part of Speech</th>
          </tr>
          {% for word in words %}
          <tr>
            <td>{{ word.hanzi }}</td>
            <td>{{ word.pinyin }}</td>
            <td>{{ word.english }}</td>
            <td>{% for tag in word.tags.split(',') %}{% include "words_tag_link.html" %}{% end %}</td>
            <td>{{ word.part_of_speech }}</td>
          </tr>
          {% end %}
        </table>

        <p>Total words: {{ len(words) }}</p>
{% end %}
